<div id="loader" class="loader">
    <div class="loader-content">
        <div class="spinner"></div>
        <div class="loader-text">
            <span class="loading-message">Loading</span>
            <span class="loading-dots">...</span>
        </div>
    </div>
</div> 